using MySql.Data.MySqlClient;
using System;
using System.Collections.Generic;
using System.ComponentModel;
using System.Data;
using System.Drawing;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using System.Windows.Forms;
using System.Security.Cryptography;
using static System.Windows.Forms.VisualStyles.VisualStyleElement.Button;


namespace rsvsport_logiciel
{
    public partial class Connection1 : Form
    {
        private MySqlConnection conn;
        private string server = "";    // localhost
        private string database = "rsvsport";   // rsvsport
        private string uid = "";    // root
        private string pwd = "";   // 

        public Connection1()
        {
            InitializeComponent();
            PasswordTxt.PasswordChar = '*';
            conn = new MySqlConnection($"Server={server};Port=3306;Database={database};Uid={uid};Pwd={pwd};");
        }

        private void Login_Click(object sender, EventArgs e)
        {
            PasswordTxt.PasswordChar = '*';
            string mdp = PasswordTxt + "#/ùzz";

            using (SHA1Managed sha1 = new SHA1Managed())
            {
                var hash = sha1.ComputeHash(Encoding.UTF8.GetBytes(mdp));
                var sb = new StringBuilder(hash.Length * 2);

                foreach (byte b in hash)
                {
                    // can be "x2" if you want lowercase
                    sb.Append(b.ToString("x2"));
                }
                mdp = sb.ToString();
            }

            try
            {
                conn.Open();
                string Query = "select * from users where email='" + IdTxt.Text + "' and password ='" + mdp + "' and id_groups ='" + 1 + "'";
                MySqlDataAdapter sda = new MySqlDataAdapter(Query, conn);
                DataTable dt = new DataTable();
                sda.Fill(dt);
                if (dt.Rows.Count == 1)
                {
                    Tennis dr = new Tennis();
                    dr.Show();
                    this.Hide();
                }
                else
                {
                    MessageBox.Show("Vérifiez votre mot de passe ou l'utilisateur.");
                }
            }
            catch (Exception ex)
            {
                MessageBox.Show($"Erreur de connexion à la base de données : {ex.Message}");
            }

            finally
            {
                conn.Close();
            }
        }


        private void checkBox1_CheckedChanged(object sender, EventArgs e)
        {
            if (checkBox1.Checked)
            {
                PasswordTxt.PasswordChar = '\0';
            }
            else
            {
                //PasswordTextbox.UseSystemPasswordChar = true;
                PasswordTxt.PasswordChar = '*';
            }
        }


        // Voir page mot de passe oublié
        private void label3_Click(object sender, EventArgs e)
        {
            //conn.Close();
            this.Hide();
            MdpOublie MdpOublie = new MdpOublie();
            MdpOublie.Show();
        }
    }
}
