using MySql.Data.MySqlClient;
using System;
using System.Collections.Generic;
using System.ComponentModel;
using System.Data;
using System.Drawing;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using System.Windows.Forms;
using static System.Windows.Forms.DataFormats;
using static System.DateTime;
using static System.Windows.Forms.VisualStyles.VisualStyleElement.ToolTip;
using Org.BouncyCastle.Utilities.Collections;

namespace rsvsport_logiciel
{
    public partial class Tennis : Form
    {
        private MySqlConnection conn;
        private string server = "";    // localhost
        private string database = "rsvsport";   // rsvsport
        private string uid = "";     // root
        private string pwd = "";   // 

        public Tennis()
        {
            InitializeComponent();
            conn = new MySqlConnection($"Server={server};Port=3306;Database={database};Uid={uid};Pwd={pwd};");
        }




        // Actualiser boutton
        private void button3_Click(object sender, EventArgs e)
        {
            try
            {
                conn.Open();
                String query = "SELECT * FROM event WHERE id_type_stade ='1'";
                MySqlCommand cmd = new MySqlCommand(query, conn);

                MySqlDataAdapter da = new MySqlDataAdapter(cmd);
                DataSet ds = new DataSet();
                da.Fill(ds);
                dataGridView1.DataSource = ds.Tables[0].DefaultView;
            }
            catch (Exception ex)
            {
                MessageBox.Show($"Erreur de connexion à la base de données : {ex.Message}");
            }
            finally
            {
                conn.Close();
            }

        }






        // Enregistrer une reservation
        private void Enregistrer_Click(object sender, EventArgs e)
        {

            //Conversion des dates au format MySQL :
            DateTime dateDebut = DateTime.Parse(dateTimePicker1.Text);
            DateTime timeDebut = DateTime.Parse(DebutTimePicker.Text);
            string debutForMySql = dateDebut.ToString("yyyy-MM-dd" + timeDebut.ToString(" HH:mm"));

            DateTime dateFin = DateTime.Parse(dateTimePicker1.Text);
            DateTime timeFin = DateTime.Parse(FinTimePicker.Text);
            string finForMySql = dateFin.ToString("yyyy-MM-dd" + timeFin.ToString(" HH:mm"));

            try
            {
                conn.Open();
                string query = "insert into event (id_type_stade, id_stade, id_user, date_start, date_end, commentaire ) values('" + IdTypeStade.Text + "','" + NomStades.Text + "','" + user.Text + "','" + debutForMySql + "','" + finForMySql + "','" + Commentaire.Text + "')";
                MySqlCommand cmd = new MySqlCommand(query, conn);
                int i = cmd.ExecuteNonQuery();
                if (i >= -1)
                {
                    MessageBox.Show("Données insérées avec succes!");
                }

            }
            catch (Exception ex)
            {
                MessageBox.Show($"{ex.Message}");
            }
            finally
            {
                conn.Close();
                this.button3_Click(sender, e);
            }
        }



        // Supprimer Une reservation 
        private void Supprimer_Click(object sender, EventArgs e)
        {
            try
            {
                conn.Open();
                string query = "DELETE FROM event WHERE id_event=" + dataGridView1.SelectedCells[0].Value.ToString();
                MySqlCommand cmd = new MySqlCommand(query, conn);
                int i = cmd.ExecuteNonQuery();
                if (i >= -1)
                {
                    MessageBox.Show("Donnée supprimée avec succes!");
                }
            }
            catch (Exception ex)
            {
                MessageBox.Show($"{ex.Message}");
            }
            finally
            {
                conn.Close();
                this.button3_Click(sender, e);
            }
        }


        //Modifier une reservation
        private void modifierBtn_Click_1(object sender, EventArgs e)
        {
            //Conversion des dates au format MySQL :
            DateTime dateDebut = DateTime.Parse(dateTimePicker1.Text);
            DateTime timeDebut = DateTime.Parse(DebutTimePicker.Text);
            string debutForMySql = dateDebut.ToString("yyyy-MM-dd" + timeDebut.ToString(" HH:mm"));

            DateTime dateFin = DateTime.Parse(dateTimePicker1.Text);
            DateTime timeFin = DateTime.Parse(FinTimePicker.Text);
            string finForMySql = dateFin.ToString("yyyy-MM-dd" + timeFin.ToString(" HH:mm"));

            try
            {
                conn.Open();
                string query = "UPDATE event SET id_type_stade='" + IdTypeStade.Text + "', id_stade='" + NomStades.Text + "', id_user='" + user.Text + "', date_start='" + debutForMySql + "', date_end='" + finForMySql + "', commentaire='" + Commentaire.Text + "' WHERE id_event=" + dataGridView1.SelectedCells[0].Value.ToString(); ;
                MySqlCommand cmd = new MySqlCommand(query, conn);
                int i = cmd.ExecuteNonQuery();
                if (i >= -1)
                {
                    MessageBox.Show("Donnée modifiée avec succes!");
                }
            }

            catch (Exception ex)
            {
                MessageBox.Show($"{ex.Message}");
            }

            finally
            {
                conn.Close();
                this.button3_Click(sender, e);
            }
        }






        //Liens pages

        // Voir page football
        private void label14_Click(object sender, EventArgs e)
        {
            //conn.Close();
            this.Hide();
            Foot Foot = new Foot();
            Foot.Show();
        }

        //Voir page Rugby
        private void label15_Click(object sender, EventArgs e)
        {
            //conn.Close();
            this.Hide();
            Rugby Rugby = new Rugby();
            Rugby.Show();
        }

        //Voir page 
        private void label9_Click(object sender, EventArgs e)
        {
            //conn.Close();
            this.Hide();
            Profils Profils = new Profils();
            Profils.Show();
        }

        // Deconnection
        private void label10_Click(object sender, EventArgs e)
        {
            //conn.Close();
            this.Hide();
            Connection1 Connection1 = new Connection1();
            Connection1.Show();
        }
    }
}


